@import 'bootstrap.min.css';
@import 'bootstrap-responsive.min.css';
@import 'sidebar.styl';

@import url(http://fonts.googleapis.com/css?family=Days+One);

html
    height: 100%

body,
#app,
#main
    height: 100%

body > header h1 {
    position: absolute;
    top: 0;
    right: 20px;
    font-family: 'Days One', sans-serif;
}
.navbar
    margin: 0

.container-fluid
    padding: 0
