#main .sidebar {
    margin-bottom: 0;
    box-sizing: border-box;
    height: 100%;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-bottom: none;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar header p {
    margin-bottom: 0;
}

.sidebar .actions {
    border-top: 1px solid #DDD;
    margin: 0 -19px;
    padding: 2px 19px 3px;
    background: #ffffff; /* Old browsers */
    overflow: hidden;
}
.sidebar .actions button {
    float: right;
}
.sidebar .games {
    margin: 0 -19px;
    overflow: hidden;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.sidebar .games .scrollable {
    overflow: auto;
    position: absolute;
    top: 32px;
    bottom: 24px;
    left: 0;
    right: 0;
}
.sidebar .games header {
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    padding: 3px 8px 7px;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    -webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.sidebar .games header strong {
    color: #fff;
}
.sidebar .games header button {
    float: right;
}
.sidebar table {
    margin: 0;
}
.sidebar table tr th:last-of-type,
.sidebar table tr td:last-of-type {
    text-align: right;
}

.sidebar .games footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    line-height:24px;
    padding: 0 8px;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    color: #fff;
}

.sidebar .games footer  .player-name {
    border: 1px solid transparent;
    padding: 0 3px;
    font-weight: bold;
    text-decoration: underline;
}
.sidebar .games footer  .player-name:hover {
    border-color: #ddd;
    background: #fff;
    color: #999;
    text-decoration: none;
}